In [14]:
import pandas as pd
import numpy as np

In [78]:
df = pd.read_csv("data/Products_alpha - KK_ingredients.csv")

In [79]:
df

,id,name,vegetarian,vegan,allergic,gluten,exp_date_days,freq,quant
0,0,kurczak,0,0,0,0,3,NaN,NaN
1,1,olej,9,9,0,0,100,NaN,NaN
2,2,cebulka,9,9,0,0,12,NaN,NaN
3,3,przyprawa do drobiu,9,9,0,0,10000,NaN,NaN
4,4,sól,9,9,0,0,10000,NaN,NaN
...,...,...,...,...,...,...,...,...,...
186,186,mięso drobiowe,0,0,0,0,10,NaN,NaN
187,187,bazylia,9,9,0,0,10000,NaN,NaN
188,188,tapioka,9,9,0,0,10,NaN,NaN
189,189,pasta z wanilii,9,9,0,0,10,NaN,NaN
190,190,konfitura malinowa,9,9,0,0,10,NaN,NaN

In [80]:
df.freq = list(map(int, 1000 + (1 + 0.1*np.random.randn(df.shape[0]))*df.exp_date_days))

In [81]:
df.quant = list(map(int, 150 + -0.01*(1 + 0.1*np.random.randn(df.shape[0]))*df.exp_date_days))

In [82]:
df['price'] = list(map(int, 3 + 100*(1 + 0.1*np.random.randn(df.shape[0]))/df.exp_date_days))

In [83]:
df.vegetarian = df.vegetarian == 9

In [84]:
df.vegan = df.vegan == 9

In [86]:
df.allergic = df.allergic == 9

In [87]:
df.gluten = df.gluten == 9

,id,name,vegetarian,vegan,allergic,gluten,exp_date_days,freq,quant,price
0,0,kurczak,False,False,False,False,3,1002,149,33
1,1,olej,True,True,False,False,100,1097,148,3
2,2,cebulka,True,True,False,False,12,1011,149,10
3,3,przyprawa do drobiu,True,True,False,False,10000,10162,51,3
4,4,sól,True,True,False,False,10000,10786,44,3
...,...,...,...,...,...,...,...,...,...,...
186,186,mięso drobiowe,False,False,False,False,10,1010,149,11
187,187,bazylia,True,True,False,False,10000,12573,42,3
188,188,tapioka,True,True,False,False,10,1011,149,12
189,189,pasta z wanilii,True,True,False,False,10,1009,149,12
190,190,konfitura malinowa,True,True,False,False,10,1010,149,13