In [14]:
import pandas as pd
import numpy as np

In [78]:
df = pd.read_csv("data/Products_alpha - KK_ingredients.csv")

In [79]:
df

,id,name,vegetarian,vegan,allergic,gluten,exp_date_days,freq,quant
0,0,kurczak,0,0,0,0,3,NaN,NaN
1,1,olej,9,9,0,0,100,NaN,NaN
2,2,cebulka,9,9,0,0,12,NaN,NaN
3,3,przyprawa do drobiu,9,9,0,0,10000,NaN,NaN
4,4,sól,9,9,0,0,10000,NaN,NaN
...,...,...,...,...,...,...,...,...,...
186,186,mięso drobiowe,0,0,0,0,10,NaN,NaN
187,187,bazylia,9,9,0,0,10000,NaN,NaN
188,188,tapioka,9,9,0,0,10,NaN,NaN
189,189,pasta z wanilii,9,9,0,0,10,NaN,NaN
190,190,konfitura malinowa,9,9,0,0,10,NaN,NaN

In [80]:
df.freq = list(map(int, 1000 + (1 + 0.1*np.random.randn(df.shape[0]))*df.exp_date_days))

In [81]:
df.quant = list(map(int, 150 + -0.01*(1 + 0.1*np.random.randn(df.shape[0]))*df.exp_date_days))

In [82]:
df['price'] = list(map(int, 3 + 100*(1 + 0.1*np.random.randn(df.shape[0]))/df.exp_date_days))

In [83]:
df.vegetarian = df.vegetarian == 9

In [84]:
df.vegan = df.vegan == 9

In [86]:
df.allergic = df.allergic == 9

In [87]:
df.gluten = df.gluten == 9

In [92]:
df.to_csv("data/products.csv", index=False)

In [97]:
df.drop(['freq', 'quant'], axis=1).to_csv("data/products_table.csv", index=False)